# Linear Regression

In [4]:
import numpy as np
import pandas as pd

## Finding Solution (uni-variable)

In [10]:
df = pd.read_csv('./sales.csv', encoding='utf-8')
df

   sales  advertising
0    651           23
1    762           26
2    856           30
3   1063           34
4   1190           43
5   1298           48
6   1421           52
7   1440           57
8   1518           58

In [12]:
x = df['advertising'].to_numpy()
y = df['sales'].to_numpy()
print(x.shape, y.shape)

(9,) (9,)

In [13]:
# Residual
def loss_function(y, y_hat):
    return (y - y_hat)**2

# ESS 
def ess(y_hat):
    y_hat_mean = y_hat.mean()
    return ((y_hat - y_hat_mean)**2).sum()

# RSS 
def rss(y, y_hat):
    l = loss_function(y, y_hat)
    return l.sum()

# RSS 
def tss(y):
    y_mean = y.mean()
    return ((y - y_mean)**2).sum()

def r_square(y, y_hat):
    tss_ = tss(y)
    ess_ = ess(y_hat)
    return ess_ / tss_

In [16]:
# calculate manually
y_mean = y.mean()
x_mean = x.mean()
beta_1 = ((x*y).mean() - x_mean*y_mean) / ((x**2).mean() - x_mean**2)
beta_0 = y_mean - x_mean * beta_1
print(f'Beta 0 = {beta_0:.4f}, Beta 1 = {beta_1:.4f}')

Beta 0 = 167.6829, Beta 1 = 23.4228

## Scaling up to multi-variable

In [17]:
from sklearn.datasets import load_boston
from sklearn import model_selection
import pandas as pd
import numpy as np

# load data
boston = load_boston()
data, price = boston['data'], boston['target']
x_train, x_test, y_train, y_test = model_selection.train_test_split(data, price, test_size=0.2)

df = pd.DataFrame(x_train, columns=boston['feature_names'])
df.head()

c:\Users\simon\.virtualenvs\aiffel2022-0SDAWiwa\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,4.81213,0.0,18.10,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42
1,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
2,5.70818,0.0,18.10,0.0,0.532,6.750,74.9,3.3317,24.0,666.0,20.2,393.07,7.74
3,0.07503,33.0,2.18,0.0,0.472,7.420,71.9,3.0992,7.0,222.0,18.4,396.90,6.47
4,0.67191,0.0,8.14,0.0,0.538,5.813,90.3,4.6820,4.0,307.0,21.0,376.88,14.81

In [26]:
print(f'Shape of X_train = {x_train.shape}')
print(f'Shape of Y = {y.shape}')

Shape of X_train = (404, 13)
Shape of Y = (404,)

In [41]:
X = np.hstack((np.ones(shape=(x_train.shape[0], 1)), x_train))
y = y_train
# np.matmul(X.T, X) = X.T @ T
w = np.linalg.inv(X.T @ X) @ X.T @ y

print(f'Intercept: {w[0]:.3f}')
print(f'Coefficient: \n{[round(wei,3) for wei in w[1:]]}')

Intercept: 31.262
Coefficient:
[-0.121, 0.055, 0.035, 2.332, -16.199, 4.166, -0.012, -1.5, 0.305, -0.012, -0.891, 0.012, -0.458]

In [56]:
y_hat = np.dot(X, w)
print(f'prediction shape of y_hat = {y_hat.shape}')
print(f'ESS = {ess(y_hat):.4f}')
print(f'RSS = {rss(y, y_hat):.4f}')
print(f'TSS = {tss(y):.4f}')
print(f'R^2 = {r_square(y, y_hat):.4f}')

prediction shape of y_hat = (404,)
ESS = 24714.5435
RSS = 8809.1852
TSS = 33523.7287
R^2 = 0.7372

In [59]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression(fit_intercept=True)
model.fit(x_train, y)
print(f'Intercept: {model.intercept_:.3f}')
print(f'Coefficient: \n{[round(wei,3) for wei in model.coef_]}')
y_hat = model.predict(x_train)
print(f'R^2 = {r2_score(y, y_hat):.4f}')

Intercept: 31.262
Coefficient:
[-0.121, 0.055, 0.035, 2.332, -16.199, 4.166, -0.012, -1.5, 0.305, -0.012, -0.891, 0.012, -0.458]
R^2 = 0.7372

---

## Additional materials

https://datascienceschool.net/03%20machine%20learning/04.01%20%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D%20%EC%98%88%EC%A0%9C.html